<div class="xdbgpanel nette-panel">
	<h1>XDebugTrace</h1>

	<div class="nette-inner">
		<p>XDebugTrace class internal error occured{if isset($errFile, $errLine)} in file <a href="editor://open/?file={$errFile}&amp;line={$errLine}">{$errFile}</a> ({$errLine}){/if}</p>
		<p style="color:red">{$errMessage}</p>
	</div>
</div>